<!DOCTYPE html>
<html>
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/nav.ejs") %>
    <main>
      <%- include("../partials/search.ejs") %>
      <section>
          <article>
            <h2>Snapshot from camera <%= parsedData[0].camera.name %></h2>
            <p>Earth date: <%= parsedData[0].earth_date %></p>
            <p>Mars sol: <%= parsedData[0].sol %></p>
            <div class="image-container">
              <a href="<%= parsedData[0].img_src %>">
                <img src="<%= parsedData[0].img_src %>" alt="from camera <%= parsedData[0].camera.name %> on <%= parsedData[0].earth_date %>">
              </a>
            </div>
          </article>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
