<!DOCTYPE html>
<html>
  <%- include("../partials/head.ejs") %>
  <body>
    <header>
        <h1>Photo <%= onePhoto.id %> </h1>
    </header>
    <main>
        <p>Taken on sol <%= onePhoto.sol %>, earth date: <%= onePhoto.earth_date %></p>
        <p><%= onePhoto.camera?.full_name %> <span>nickname "<%= onePhoto.camera?.name %>"</span></p>
        <a href="<%= onePhoto.img_src %>">Link to full-size photograph</a>
        <h3>Rover Manifest</h3>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>